/* colours */

:root {
    --primary: #8e43e7;
    --secondary: #273c66;
    --main: #273c66;
    --font: #696969;
    --heading: #fff;
    --bg: #bbb;
    --border-light: #ddd;
}

/* common styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font) !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Tahoma !important;
    background-color: var(--border-light) !important;
}

section {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* navbar section  */

.navbar-brand span {
    font-size: 30px !important;
    font-weight: 600;
    color: var(--primary) !important;
}

header {
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    background-color: var(--border-light);
}

.navbar-nav li a {
    color: var(--font) !important;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.navbar-nav li a:hover {
    border-bottom: 3px solid var(--primary);
    color: var(--primary) !important;
    font-size: 15px;
}

.navbar-nav li a:active {
    color: var(--primary) !important;
}

.navbar-nav li {
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-collapse i {
    font-size: 18px;
    color: var(--font);
    padding: 10px;
    cursor: pointer;
}

/* hero section  */

.hero-section {
    height: 80vh;
    margin-top: 80px;
}

.hero-left-section {
    margin-top: 17vh;
}

.hero-left-section h4 {
    color: #4262a2 !important;
}

.hero-left-section h1 {
    font-weight: 300;
    color: var(--main) !important;
}

.hero-left-section h1 span {
    font-weight: 500;
    color: var(--main) !important;
}

.hero-left-section p {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: var(--main) !important;
    opacity: 0.7;
}

.hero-left-section .button-group {
    margin-top: 32px;
}

.hero-left-section .button-group button:nth-child(1) {
    padding: 15px 30px;
    background-color: var(--primary) !important;
    outline: none;
    border: none;
    border-radius: 12px;
    color: white !important;
    font-weight: 500;
}

.hero-left-section .button-group button:nth-child(2) {
    padding: 15px 30px;
    /* background-color: var(--bg) !important; */
    border: 1px solid var(--primary);
    border-radius: 12px;
    color: var(--primary) !important;
    font-weight: 500;
}


.hero-img {
    display: flex;
    border-radius: 50%;
    position: relative;
}

.hero-img img {
    border-radius: 50%;
    border: 10px solid #8e43e7;
    position: absolute;
    top: 17vh;
    width: 350px;
    height: 350px;
}

/* intro section  */

#intro {
    background-color: var(--bg);
}

.intro {
    display: flex;
    align-items: center;
    height: 80vh;
}

.intro-left-section img {
    position: relative;
    border-radius: 12px;
    width: 400px;
    height: 400px;
}

.intro-right-section {
    margin-left: 40px;
    margin-top: 50px;
}

.intro-right-section h1 {
    font-weight: 500;
    color: var(--main) !important;
    margin-bottom: 20px;
}

.intro h4 {
    color: #4262a2 !important;
    text-align: center;
    margin: 20px;
}

.intro-right-section p {
    opacity: 0.7;
}

.intro-right-section button {
    padding: 15px 30px;
    background-color: var(--primary) !important;
    outline: none;
    border: none;
    border-radius: 12px;
    color: white !important;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* services section  */

.service {
    height: 80vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline;
}

.service h4 {
    color: #4262a2 !important;
    text-align: center;
}

.service h1 {
    font-weight: 500;
    color: var(--main) !important;
    text-align: center;
}

.service .card {
    height: 18rem;
    background-color: #444;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
    position: relative;
}

.service .card:hover {
    transform: scale(1.04);
}

.service-card h5 {
    padding: 10px;
    font-weight: 700;
    color: var(--primary) !important;
}

.service-card p {
    padding: 10px;
    color: #eee !important;
}

.service-card a {
    color: #eee !important;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    bottom: 0;
    position: absolute;
    transition: 0.1s linear;
}

.service-card a:hover {
    border-bottom: 2px solid var(--primary);
    color: var(--primary) !important;
}

.service-card i {
    color: white !important;
    padding: 10px;
    font-size: 2rem;
}

/* footer section  */

footer {
    padding: 28px;
    background-color: #273c66;
    opacity: 0.87;
}

.footer-content h5 {
    font-weight: 300;
    color: #ddd !important;
}

.footer-content h5 a {
    color: #ddd !important;
    text-decoration: none;
}

.social-media i {
    color: white !important;
    font-size: 23px;
    padding: 4px;
    margin-left: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.social-media i:hover {
    transform: scale(1.3) rotate(-5deg);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .hero-left-section {
        margin-top: 10vh;
    }

    .hero-img img {
        display: none !important;
    }

    .intro-left-section {
        display: flex;
        justify-content: center;
    }

    .intro-left-section img {
        width: 200px;
        height: 200px;
        margin-bottom: 4px;
        justify-content: center;
    }

    .intro {
        height: 110vh;
    }

    .intro-right-section {
        margin-left: 0;
        padding: 10px;
        margin-top: 20px;
    }

    .intro-right-section h1 {
        font-size: 23px;
    }

    .service .card {
        height: 22rem;
    }

    .footer-content h5 {
        margin-bottom: 30px;
    }

    .social-media i {
        margin-left: 0;
    }
}